:root {
  --bg-color: white;
  --main-color: rgb(255, 255, 255);
  --item-background: #cecece;
  --bs-gray: #1de300;
}

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), url('./assets/Helvetica.woff') format('woff');
}

* {
  font-family: 'Helvetica', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);
}
